---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
import CategoryList from "../../components/CategoryList.astro";
import Pagination from "../../components/Pagination.astro";
import PostList from "../../components/PostList.astro";
import { Icon } from "astro-icon";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const allCategories = posts.flatMap((post) => post.data.categories);
  const categories = Array.from(new Set(allCategories));

  const paths = categories.map((category) => {
    const postsByCategory = posts.filter((post) =>
      post.data.categories.includes(category)
    );
    return {
      params: {
        slug: category,
      },
      props: {
        category,
        posts: postsByCategory,
      },
    };
  });

  return paths;
};

type Props = {
  category: string;
  posts: CollectionEntry<"posts">[];
};

const { category, posts } = Astro.props;
---

<Layout
  title="Blog - Rythm Nation"
  description="Read and learn from Music Products and Enthusiasts">
  <Main>
    <a
      href="/blog"
      class="flex items-center text-zinc-500 text-2xl mb-16 underline">
      <Icon name="mdi:arrow-left" class="w-6 h-6" />
       Back to all blogs</a
    >
    <H1 text="Rythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-12 max-sm:mb-14">
      Join the Community and learn from Music Producers and Enthusiasts
    </p>
    <CategoryList categories={[category]} />
    <PostList posts={posts} />
  </Main>
</Layout>
