---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/cabin";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title = "Rythm Nation" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
